<!DOCTYPE html>
<html>
<head>
    <title>Pill App</title>
    <link rel="stylesheet" type="text/css" href="/public/stylesheet.css">
</head>
<body>

    <!-- div holding cnvas to draw clock upon, background colours,  bottom bar and icons-->

    <div id="phonescreen">
        <canvas id="canvas" width="450" height="450" position="absolute">
        </canvas>
        <div id="bottombar"></div>
        <div id="square"></div>
        <img id="clock" src="/public/media/clockicon.png">
        <img id="calendar" src="/public/media/calendar.png">
    </div>

    <!-- div holding pills, including 2 hardcoded pills and all user pills
    which are hard-coded at 5'o'clock for simulated behavioural reasons -->

    <div id="abovescreen">
        <div id="titlebar">
            <div id="alarm" class="modal">
                <div class="modal-content">
                    <span class="close">
                        <div id="closeButton">
                            <p id="closeText">Close</p>
                        </div>
                    </span>
                    <p id="alarmText">Time to take your Paracetamol</p>
                </div>
            </div>
        </div>
        <div id="loestrin">
            <div class="tooltip">
                <span class="tooltiptext">
                    Name: Loestrin
                    <br>
                    <br> Time: 09:00
                    <br>
                    <br> Water?: Yes
                    <br>
                    <br> How Many To Take?: 1
                    <br>
                    <br> How Many Left?: 58
                    <br>
                </span>
                <img class="pill" src="/public/media/loestrin.png">
            </div>
        </div>
        <div id="paracetamol">
            <div class="tooltip">
                <span class="tooltiptext">
                    Name: Paracetamol
                    <br>
                    <br> Time: 14:00
                    <br>
                    <br> Water?: No
                    <br>
                    <br> How Many To Take?: 2
                    <br>
                    <br> How Many Left?: 12
                    <br>
                </span>
                <img class="pill" src="/public/media/paracetamol.png">
            </div>
        </div>
        <div id="list">
            <div id="userpill">
                <% pillslist.forEach(function(pills, index) { %>
                    <div class="tooltip">
                        <span class="tooltiptext">
                            Name:
                            <%= pills[0] %>
                            <br>
                            <br> Time:
                            <%= pills[1] %>
                                <br>
                                <br> Water?:
                                <%= pills[2] %>
                                <br>
                                <br> How Many To Take?:
                                <%= pills[3] %>
                                <br>
                                <br> How Many Left?:
                                <%= pills[4] %>
                                <br>
                                <br> Click Here to Remove Pill:
                                <a href="/pills/delete/<%= index %>">✘</a>
                        </span>
                        <img class="pill" src="/public/media/apri.png">
                    </div>
                    <% }); %>
            </div>
        </div>

        <!-- Form for adding pills, as popup from '+' Button -->
    
        <div class="popup">
            <img id="addBtn" src="/public/media/AddButton.png" onclick="formpopup()">
            <span class="popuptext" id="popup1">
                <form action="/pills/add/" method="post">
                    <p>
                        Press Tab to enter information!
                        <br>
                        <br> Add the name of the pill:
                        <br>
                        <input type="text" name="pillname" id="pillname" autofocus />
                        <br> Add the time at which you take this pill:
                        <br>

                        <input type="time" name="pilltime" id="pilltime" />
                        <br> Do you need to take this pill with water?:
                        <br>
                        <input type="text" name="water" id="water" />
                        <br> How many pills do you need to take at once?:
                        <br>
                        <input type="quantity" name="quantity" id="quantity" />
                        <br> How many pills do you currently have left?:
                        <br>
                        <input type="total" name="total" id="total" />
                        <br>
                        <br>
                        <input type="button" onclick="formpopup()" value="Cancel" />
                        <input type="submit" />
                    </p>
                </form>
            </span>
        </div>
    </div>

    <!-- Scripts for template, including clock script, annyang API and modal script -->
    <script type="text/javascript" src="/public/clock.js"></script>
    <script id="annyang" src="/public/annyang-master/src/annyang.js"></script>
    
    <script type="text/javascript" src='/public/modalalert.js'></script>
    <script>
        function formpopup() {
            var popup = document.getElementById("popup1");
            popup.classList.toggle("show");
        }
    </script>

</body>

</html>